<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Tasks</title>
</head>
<body>
    <h1>Completed Tasks</h1>
    <ul>
        {%for task in tasks%}
        <li>

            {{task.Taskk}}
            <form method="POST" style="display:inline;">
               <button type="submit" formaction="/completed_task/delete/{{task.id}}">Delete</button>
            </form>
            
        </li>
        {%endfor%}
    </ul>
<a href="/">Back</a>
</body>
</html>